[submodule "site/plugins/kirby3-feed"]
	path = site/plugins/kirby3-feed
	url = https://github.com/bnomei/kirby3-feed.git
[submodule "site/plugins/meta-tags"]
	path = site/plugins/meta-tags
	url = https://github.com/pedroborges/kirby-meta-tags.git
