.page-header {
  margin-bottom: 2rem;
  @include small-breakpoint {
    margin-bottom: 3rem;
  }
  h1 {
    margin: 0;
  }
  .meta {
    font-size: .9rem;
    margin-top: 1rem;
    font-style: italic;
    display: flex;
    align-items: center;
    flex-direction: column;
    @media (min-width: 360px) {
      flex-direction: row;
    }
  }
  p {
    margin: 0;
  }
  .author-link {
    align-self: center;
    &:hover,
    &:focus,
    ::selection {
      background-color: transparent;
    }
  }
  .avatar {
    border-radius: 50%;
    margin-right: 1rem;
    width: 60px;
    height: 60px;
  }
}
.tags {
  padding: 0;
  list-style: none;
  font-size: .8rem;
  margin: 1rem 0 -1rem 0;
  @include medium-breakpoint {
    font-size: .9rem;
    li {
      margin: 0 1rem 1rem 0;
    }
  }
  li {
    padding: 0;
    margin: 0 .5rem 1rem 0;
    display: inline-block;
  }
  a {
    background-color: $color-background-alt;
    background-color: var(--color-background-alt);
    border-radius: 4px;
    display: inline-block;
    padding: 5px 10px;
    text-decoration: none;
  }
}
.intro {
  font-style: italic;
}
.header-wrapper {
  margin-bottom: 1.5rem;
  @include small-breakpoint {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .page-header {
    margin-bottom: 1rem;
    @include small-breakpoint {
      margin-bottom: 0;
    }
  }
  p {
    margin-bottom: 0;
  }
  mark {
    font-style: italic;
  }
}
.articles {
  article {
    margin-bottom: 1.5rem;
    padding-bottom: 1rem;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: $color-border;
    border-bottom-color: var(--color-border);
    &:last-child {
      border-bottom: 0;
    }
    h2 {
      margin-bottom: .4rem;
      font-size: 1.2rem;
      a {
        text-decoration: none;
      }
    }
  }
}
article {
  figure,
  img {
    max-width: 100%;
  }
  figure {
    padding-top: .5rem;
    margin-bottom: 2rem;
    text-align: center;
    a {
      font-size: 0;
      &:hover,
      &:focus,
      ::selection {
        background-color: transparent;
      }
    }
    figcaption a,
    cite a {
      font-size: inherit;
      &:hover,
      &:focus,
      ::selection {
        background-color: $color-link-background-hover;
        background-color: var(--color-link-background-hover);
        color: $color-link-hover;
        color: var(--color-link-hover);
        text-decoration:none;
      }
    }
    img {
      box-shadow: 0 1px 2px rgba(0,0,0,0.07),
        0 2px 4px rgba(0,0,0,0.07),
        0 4px 8px rgba(0,0,0,0.07),
        0 8px 16px rgba(0,0,0,0.07),
        0 16px 32px rgba(0,0,0,0.07),
        0 32px 64px rgba(0,0,0,0.07);
    }
  }
}
.footer-meta {
  font-size: .9rem;
  .updated {
    font-style: italic;
    margin-bottom: .5rem;
  }
  p {
    margin-bottom: 0;
  }
}
.article-contact {
  margin: 3rem -1.5rem 0 -1.5rem;
  padding: 1.5rem;
  background: $color-theme-tertiary;
  color: $color-text-subdued;
  color: var(--color-text-subdued);
  // ::selection {
    // }
  @include small-breakpoint {
    border-radius: 15px;
  }
  .alert {
    &.error {
      p {
        color: $color-text-warning;
        color: var(--color-text-warning);
      }
    }
    p {
      font-weight: 600;
    }
  }
  .hoenig {
    position: absolute;
    left: -9999px;
  }
  textarea {
    overflow: auto;
    height: auto;
    display: block;
    border-width: 1px;
    border-style: solid;
    border-color: $color-border;
    border-color: var(--color-border);
    border-radius: 4px;
    padding: 0.75rem;
    outline: none;
    background: $color-white;
    background: var(--color-white);
    color: $color-text-subdued;
    color: var(--color-text-subdued);
    font-size: 1rem;
    width: 100%;
    max-width: 100%;
    line-height: 1;
    resize: none;
    margin-bottom: 1.25rem;
  }
  input[type="submit"] {
    -webkit-appearance: none;
    display: inline-block;
    border: 1px solid;
    border-radius: 4px;
    font-weight: 600;
    background: transparent;
    font-style: italic;
    border: 0;
    color: $color-text-subdued;
    color: var(--color-text-subdued);
    font-family: $font-body;
    font-size: 1rem;
    text-transform: none;
    padding: 0;
    overflow: visible;
    margin: 0 0 .1rem 0;
    cursor: pointer;
    text-decoration: none;
    line-height: 1.5;
    padding-right: 5px;
    &:active,
    &:focus {
      outline: 0;
      margin: .1rem 0 .1rem 0;
      color: $color-body;
      color: var(--color-black);
    }
    &:hover {
      color: $color-black;
      color: var(--color-black);
    }
  }
}
