.page-header {
  margin-bottom: 2rem;
  @include small-breakpoint {
    margin-bottom: 3rem;
  }
  h1 {
    margin: 0;
  }
  .meta {
    font-size: .9rem;
    margin-top: 1rem;
    font-style: italic;
  }
}
.intro {
  font-style: italic;
}
.header-wrapper {
  margin-bottom: 1.5rem;
  @include small-breakpoint {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .page-header {
    margin-bottom: 1rem;
    @include small-breakpoint {
      margin-bottom: 0;
    }
  }
  p {
    margin-bottom: 0;
  }
}
.articles {
  article {
    margin-bottom: 1.5rem;
    h2 {
      margin-bottom: .4rem;
      font-size: 1.2rem;
      a {
        text-decoration: none;
      }
    }
  }
}
