.footer {
  margin-top: 2.5rem;
  margin-bottom: $content-margin;
  @include small-breakpoint {
    margin: $content-margin auto;
  }

  .anchor {
    // padding-top: 1rem;
    text-align: center;
    hr.long {
      width: 9rem;
      margin-left: auto;
      margin-right: auto;
      border-width: 3px;
    }
  }

  .anchor-brand {
    text-align: center;
    margin-bottom: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    a {
      display: block;
      // bug: flicker when url is css var
      // background-image: var(--url-frog-small);
      background-image: $url-frog;
      @media (prefers-color-scheme: dark) {
        background-image: $url-frog-dark;
      }
      background-size: contain;
      background-repeat: no-repeat;
      width: 100%;
      max-width: 150px;
      @include small-breakpoint {
        width: 150px;
        height: 142px;
      }
      &,
      &:hover,
      &:focus {
        background-color: transparent !important;
      }
    }
    img {
      margin: auto;
      width: 150px;
      visibility: hidden;
      @include small-breakpoint {
        display: none;
      }
    }
  }

  .meta {
    padding-bottom: 1.5em;
    span {
      display: none;
    }
    @include small-breakpoint {
      > div {
        display: inline;
      }
      span {
        display: inline;
      }
    }
  }
  a.self {
    text-decoration: none;
  }
  a {
    color: $color-body;
    color: var(--color-body);
    &:hover,
    &:focus {
      color: $color-link-hover;
      color: var(--color-link-hover);
    }
  }
  .links {
    margin: 0 -2px;
    a {
      text-decoration: none;
      font-size: 1.15rem;
      display: inline-block;
      padding: 0 2px;
    }
    @include small-breakpoint {
      margin: 0 -4px;
      a {
        padding: 0 4px;
      }
    }
  }
}
