.footer {
  margin-top: 2.5rem;
  margin-bottom: $content-margin;
  @include small-breakpoint {
    margin: $content-margin auto;
  }

  .anchor {
    // padding-top: 1rem;
    text-align: center;
    hr.long {
      width: 9rem;
      margin-left: auto;
      margin-right: auto;
      border-width: 3px;
    }
  }

  .meta {
    padding-bottom: 1.5em;
    span {
      display: none;
    }
    @include small-breakpoint {
      > div {
        display: inline;
      }
      span {
        display: inline;
      }
    }
  }
  a.self {
    text-decoration: none;
  }
  a {
    color: $color-body;
    &:hover,
    &:focus {
      color: $color-link-hover;
    }
  }
}
