.bar {
  height: 10px;
  // background-image: linear-gradient(90deg,$color-theme-darker 0,$color-theme-primary 35%,$color-theme-lighter);
  background-color: $color-theme-darker;
}
.no-js {
  .main-nav {
    position: inherit;
    .container {
      transition: none;
      height: auto;
      @include small-breakpoint {
        height: 60px;
      }
    }
    .menu-toggle {
      display: none;
    }
    .menu-wrapper {
      border: 0;
      top: 0;
      position: relative;
      opacity: 1;
      left: 0;
      margin: 0 0 5px 0;
    }
  }
}
.main-nav {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  transition: background-color .2s ease;
  background-color: rgba(red($color-background), green($color-background), blue($color-background), 1);
  background-color: rgba(var(--color-background), 1);
  box-shadow: 1px 2px 18px rgba(0, 0, 0, .1);
  box-shadow: 1px 2px 18px rgba(var(--color-nav-shadow), .1);
  @include small-breakpoint {
    transition: none;
    box-shadow: none;
  }
  &.scroll {
    z-index: 3;
    background: $color-background;
    background: var(--color-background);
    box-shadow: 1px 2px 18px rgba(0, 0, 0, .1);
    box-shadow: 1px 2px 18px rgba(var(--color-nav-shadow), .1);
    &.expanded {
      box-shadow: none;
    }
    .container {
      transition: height 0.5s cubic-bezier(0.19, 1, 0.22, 1);
      height: $header-height-sm;
    }
    .brand {
      a {
        @include small-breakpoint {
          width: 225px;
          height: 43px;
          background-position: 0 -106px;
          background-position: var(--x-offset-logo) -106px;
        }
      }
    }
  }
  &.expanded {
    height: 100%;
    background-color: rgba(red($color-background), green($color-background), blue($color-background), .5);
    background-color: rgba(var(--color-nav-overlay), .5);
    @include small-breakpoint {
      background-color: $color-background;
      background-color: var(--color-background);
      height: auto;
    }

    .menu-wrapper {
      top: 70px;
      display: block;
      // margin-left: -1.5rem;
      // margin-right: -1.5rem;
      left: 0%;
      opacity: 1;
      .links {
        padding: 0 1.5rem;
      }
      .shadow {
        display: block;
      }
    }
    @include small-breakpoint {
      .menu-wrapper {
        margin: 0;
        top: 0px;
        .links {
          padding: 0;
        }
        .shadow {
          display: none;
        }
      }
    }
  }
  &.moving {
    .menu-wrapper {
      top: 70px;
      @include small-breakpoint {
        top: 0;
      }
    }
  }
  .container {
    background-color: $color-background;
    background-color: var(--color-background);
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    height: $header-height-sm;
    justify-content: space-between;
    @include small-breakpoint {
      justify-content: flex-start;
      height: $header-height-lg;
    }
  }
  .brand {
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    min-width: 130px;
    width: 75%;
    img {
      width: 100%;
      visibility: hidden;
    }
    @media (min-width: 350px) {
      width: auto;
      height: 60px;
      img {
        width: auto;
        display: none;
      }
    }
    span {
      display: none;
    }
    @include small-breakpoint {
      flex-grow: 1;
      display: block;
      height: auto;
    }
    a {
      display: block;
      background-repeat: no-repeat;
      text-decoration: none;
      width: 100%;
      font-size: 0;
      background-image: url(/assets/builds/images/logo.png);
      background-image: var(--url-logo-small);
      background-size: contain;
      &:hover,
      &:focus {
        background-color: transparent;
      }
      @media (min-width: 350px) {
        font-size: 1.3rem;
        background-size: inherit;
        background-image: url(/assets/builds/images/logo-sprites.png);
        width: 225px;
        height: 43px;
        background-position: 0 -106px;
        background-position: var(--x-offset-logo) -106px;
      }
      @media (min-width: 700px) {
        width: 250px;
        height: 48px;
        background-position: 0 -58px;
        background-position: var(--x-offset-logo) -58px;
      }
      @include medium-breakpoint {
        width: 300px;
        height: 58px;
        background-position: 0 0;
        background-position: var(--x-offset-logo) 0;
      }
    }
  }
  .menu-toggle {
    position: relative;
    z-index: 1;
    background: transparent;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
    display: flex;
    width: 20%;
    justify-content: flex-end;
    margin-right: -5px;
    color: $color-nav-link;
    color: var(--color-nav-link);
    @media (min-width: 350px) {
      font-size: 2rem;
      justify-content: flex-start;
      text-align: left;
      width: auto;
    }
    &:focus {
      background: transparent;
      outline: none;
    }
    &:hover,
    ::selection {
      color: $color-nav-link-hover;
      color: var(--color-nav-link-hover);
      text-decoration: none;
    }
    @include small-breakpoint {
      display: none;
    }
  }
  .menu-wrapper {
    opacity: 0;
    left: -100%;
    transition: left .2s ease,
    opacity .2s ease;
    width: 100%;
    background-color: $color-background;
    background-color: var(--color-background);
    position: absolute;
    top: -999px;
    z-index: 0;
    border-top: 3px solid #043E40;
    border-bottom: 3px solid #043E40;
    padding: 10px 0;
    flex-grow: 1;
    @include small-breakpoint {
      transition: none;
      opacity: 1;
      left: 0;
      top: 0;
      position: relative;
      box-shadow: none;
      width: auto;
      display: block;
      flex-grow: 0;
      padding: 0;
      border: none;
    }
    .shadow {
      display: none;
      background: $color-background;
      background: var(--color-background);
      width: 100%;
      position: absolute;
      z-index: -1;
      height: 10px;
      left: 0;
      bottom: 0;
      bottom: 0;
      box-shadow: 1px 2px 18px rgba(0, 0, 0, .2);
      box-shadow: 1px 2px 18px rgba(var(--color-nav-shadow), .2);
    }
  }
  .links {
    background: $color-background;
    background: var(--color-background);
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-grow: 1;
    margin-left: -.2rem;
    margin-right: -.2rem;
    @include small-breakpoint {
      flex-grow: 0;
      display: flex;
      justify-content: flex-end;
      margin-left: 0;
      margin-right: 0;
    }
    div {
      width: 100%;
      &:last-child {
        a {
          border-bottom: none;
        }
      }
      @include small-breakpoint {
        width: auto;
      }
    }
    a {
      text-decoration: none;
      margin: 0 .2rem;
      padding: .5rem;
      display: block;
      border-bottom-width: 1px;
      border-bottom-style: solid;
      border-bottom-color: $color-border;
      border-bottom-color: var(--color-border);
      font-weight: 600;
      @include small-breakpoint {
        font-weight: 500;
        border-bottom: none;
        width: auto;
        margin: 0 .5rem;
        padding: .4rem;
        font-size: 1.1rem;
      }
      @media (min-width: 700px) {
        font-size: 1.15rem;
        padding: .75rem;
      }
      @include medium-breakpoint {
        font-size: 1.2rem;
        padding: .8rem;
      }
    }
  }
  a {
    color: $color-nav-link;
    color: var(--color-nav-link);
    background-color: transparent;
    @include small-breakpoint {
      color: $color-body;
      color: var(--color-body);
      &:hover,
      &:focus {
        background-color: $color-link-background-hover;
        background-color: var(--color-link-background-hover);
      }
    }
    &:hover,
    &:focus {
      color: $color-nav-link-hover;
      color: var(--color-nav-link-hover);
    }
  }
}
