.blog {
  .content-container {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    // flex-direction: column-reverse;
    @include small-breakpoint {
      flex-direction: row;
    }
    .main,
    .sub {
      position: relative;
      width: 100%;
      padding-right: $gutter;
      padding-left: $gutter;
    }
    .main {
      @include small-breakpoint {
        flex: 0 0 66.666667%;
        max-width: 66.666667%;
      }
    }
    .sub {
      @include small-breakpoint {
        flex: 0 0 33.333333%;
        max-width: 33.333333%;
      }
    }
  }

  aside {
    margin-bottom: 2rem;
    h4 {
      margin-top: 0;
    }
  }
  .meta {
    font-size: .95rem;
  }
}
.article {
  .related-notes {
    nav {
      display: flex;
      flex-direction: column;
      @include small-breakpoint {
        align-items: flex-start;
      }
      a {
        margin-bottom: 1rem;
      }
    }
  }
}
