.note-link {
  background-color: $color-background-alt;
  border-radius: 4px;
  padding: 5px 10px;
  display: flex;
  text-decoration: none;
  color: $color-black;
  i {
    width: 18px;
    margin-right: 9px;
  }
}

.wiki {
  .content-wrapper {
    display: flex;
  }
  section.child-nav {
    mark {
      font-style: italic;
    }
    h3 {
      font-size: 1.2rem;
      line-height: 1.2;
    }
  }
  nav {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    a {
      margin-bottom: .5rem;
    }
  }
}
.note {
  nav.tree-nav {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding-bottom: 1.5rem;
    @include small-breakpoint {
      flex-direction: row;
      padding-bottom: 0;
    }
    > div {
      display: flex;
      flex-direction: column;
      + div {
        @include small-breakpoint {
          padding-left: 1.5rem;
        }
      }
    }
    a {
      margin-bottom: .5rem;
      &.active {
        color: $color-theme-darker;
        &:hover,
        &:focus {
          color: $color-link-hover;
        }
      }
    }
    h3 {
      margin-top:0;
    }
  }
  section.child-nav {
    a {
      margin-bottom: .5rem;
    }
    h3 {
      font-size: 1.2rem;
      line-height: 1.2;
    }
    mark {
      font-style: italic;
    }
    nav {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      a {
        margin-bottom: .5rem;
      }
    }
  }
  aside.related-notes {
    div {
      background-color: $color-neutral-lighter;
      border-radius: 5px;
      padding: 1rem;
    }
    h3 {
      font-size: 1.2rem;
      line-height: 1.2;
      margin-top: 0;
      margin-bottom: .9rem;
    }
  }
  .article-content  {
    display: flex;
    flex-direction: column;
    @include small-breakpoint {
      flex-direction: row;
    }
    .content-wrapper {
      flex-grow: 1;
    }
  }
}
