.note-link {
  background-color: $color-background-alt;
  border-radius: 4px;
  padding: 5px 10px;
  display: flex;
  text-decoration: none;
  color: $color-black;
  i {
    width: 18px;
    margin-right: 9px;
  }
  span {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.wiki {
  .content-wrapper {
    display: flex;
  }
  section.child-nav {
    mark {
      font-style: italic;
    }
    h3 {
      font-size: 1.2rem;
      line-height: 1.2;
    }
  }
  nav {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    a {
      margin-bottom: .5rem;
    }
  }
}
.note {
  nav.tree-nav {
    // flex-direction: column;
    align-items: flex-start;
    display: flex;
    flex-wrap: wrap;
    margin: 0 -.755rem;
    padding-bottom: 1.5rem;
    @include small-breakpoint {
      padding-bottom: 0;
    }
    > * {
      margin: 0 .75rem;
    }
    .trunk {
      flex: 1 175px;
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      margin-bottom: 1rem;
    }
    .branch {
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      flex: 999 0;
      min-width: calc(73% - 1.5rem);
      > div {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        margin: 0 -.5rem;
        @include small-breakpoint {
          max-height: 300px;
        }
      }
      a {
        margin: 0 .5rem .5rem;
      }
      @include small-breakpoint {
        // align-items: flex-end;
        &.count-medium {
          a {
            // width: 50%;
            width: calc(50% - 1rem);
          }
        }
        &.count-large {
          a {
            // width: 33.3333%;
            width: calc(33.33333% - 1rem);
          }
        }
        a {
          // width: 33.3333%;
          width: calc(33.33333% - 1rem);
        }
      }
      /* leaf */
      a {

      }
    }
    a {
      margin-bottom: .5rem;
      &.active {
        color: $color-theme-darker;
        &:hover,
        &:focus {
          color: $color-link-hover;
        }
      }
    }
    h3 {
      margin-top:0;
    }
  }
  section.child-nav {
    a {
      margin-bottom: .5rem;
    }
    h3 {
      font-size: 1.2rem;
      line-height: 1.2;
    }
    mark {
      font-style: italic;
    }
    nav {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      a {
        margin-bottom: .5rem;
      }
    }
  }
  related-notes {
    aside {
      div {
        background-color: $color-neutral-lighter;
        border-radius: 5px;
        padding: 1rem;
      }
      h3 {
        font-size: 1.2rem;
        line-height: 1.2;
        margin-top: 0;
        margin-bottom: .9rem;
      }
    }
  }
  .article-content {
    font-size: .9rem;
    h2:first-child,
    h3:first-child {
      margin-top:0;
    }
  }
  .article-content  {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -0.5rem;
    > * {
      /* ↓ applies to both elements */
      margin: 0 0.5rem;
    }
    .content-wrapper {
      flex: 999 0;
      min-width: calc(60% - 1rem);
    }
    .related-notes {
      flex: 1 30ch;
    }
  }
}
