.bar {
  height: 10px;
  background-image: linear-gradient(90deg,#043E40 0,#01677D 19%, 60%,#6BC4D8);
}
.nav {
  // position: fixed;
  // top: 0;
  // left: 0;
  // z-index: 3;
  // background: #fff;
  width: 100%;
  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: header-height-sm;
    @media (min-width: $screen-sm-min) {
      height: $header-height-lg;
    }
  }
  .brand {
    a {
      text-decoration: none;
      font-size: 1.3rem;
    }
  }
  .links {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    @media (min-width: $screen-sm-min) {
      justify-content: flex-end;
    }
    a {
      text-decoration: none;
      margin: 0 .5rem;
      padding: 1rem;
      @media (min-width: $screen-sm-min) {
        font-size: 1.2rem;
      }
    }
  }
}
