@use "mixins";
@use "vars";

body {
  margin: 0;
}

*,
:after,
:before,
html {
  box-sizing: border-box;
}

.container {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 1.5rem;
  @include mixins.small-breakpoint {
    padding: 0 2rem;
  }
}

.no-js {
  main {
    margin-top: 0;
  }
}
main {
  margin-top: vars.$header-height-sm + 50px;
  @include mixins.small-breakpoint {
    margin-top: vars.$header-height-lg + 30px;
  }
  // > .container {
  //   margin-top: 25px
  // }
  // padding-top: 1rem;
}
