:root {
  --color-body: #{$color-body};
  --color-heading: #{$color-heading};
  --color-background: #{$color-background};
  --color-background-alt: #{$color-background-alt};
  --color-background-highlight: #{$color-background-highlight};
  --color-nav-link: #{$color-nav-link};
  --color-nav-link-hover: #{$color-nav-link-hover};
  --color-link: #{$color-link};
  --color-link-hover: #{$color-link-hover};
  --color-link-background-hover: #{$color-link-background-hover};
  --color-border: #{$color-border};
  --color-text-subdued: #{$color-text-subdued};
  --color-text-warning: #{$color-text-warning};
  --color-nav-shadow: #{$color-nav-shadow};
  --color-nav-overlay: #{$color-nav-overlay};
  --color-nav-border: #{$color-nav-border};
  --url-logo: #{$url-logo};
  --url-frog: #{$url-frog};
}
@media (prefers-color-scheme: dark) {
  :root {
    --color-body: #{$color-body-dark};
    --color-heading: #{$color-heading-dark};
    --color-background: #{$color-background-dark};
    --color-background-alt: #{$color-background-alt-dark};
    --color-background-highlight: #{$color-background-highlight-dark};
    --color-nav-overlay: #{$color-nav-overlay-dark};
    --color-nav-link: #{$color-nav-link-dark};
    --color-nav-link-hover: #{$color-nav-link-hover-dark};
    --color-link: #{$color-link-dark};
    --color-link-hover: #{$color-link-hover-dark};
    --color-link-background-hover: #{$color-link-background-hover-dark};
    --color-border: #{$color-border-dark};
    --color-text-subdued: #{$color-text-subdued-dark};
    --color-text-warning: #{$color-text-warning-dark};
    --color-nav-shadow: #{$color-nav-shadow-dark};
    --color-nav-border: #{$color-nav-border-dark};
    --url-logo: #{$url-logo-dark};
    --url-frog: #{$url-frog-dark};
  }
}

html {
  background-color: $color-background;
  background-color: var(--color-background);
}

p,
ol,
ul,
dl,
table,
figure {
  margin: 0 0 1.5rem 0;
}

ul li ul {
  margin-bottom: 0;
}

ol li ol {
  margin-bottom: 0;
}

// blockquote
blockquote {
  margin: 0 0 1.5rem 0;
  border-left-width: 12px;
  border-left-style: solid;
  border-left-color: $color-border;
  border-left-color: var(--color-border);
  padding: 0 1.5rem;
  font-size: 1.2rem;
  cite {
    display: block;
    margin-top: 1.5rem;
    font-size: 1rem;
    text-align: right;
  }
}

// pre, code, kbd
body {
  pre {
    border: 0;
    border-radius: 4px;
    padding: 1rem;
    tab-size: 2;
    background: $color-background-alt;
    background: var(--color-background-alt);
    color: $color-body;
    color: var(--color-body);
    font-family: $font-mono;
    font-size: 14px;
    margin: 0 0 1.5rem 0;
    overflow: auto;
    code {
      font-family: $font-mono;
      line-height: 1.2;
    }
  }

  :not(pre) > code {
    color: $color-theme-accent;
    background: transparent;
    font-family: $font-mono;
    // font-size: 14px;
    padding: 0 0.2rem;
    border-width: 1px;
    border-style: solid;
    border-color: $color-border;
    border-color: var(--color-border);
    border-radius: 4px;
    -ms-word-break: break-all;
    word-break: break-all;

    /* Non standard for webkit */
    word-break: break-word;

    -webkit-hyphens: auto;
       -moz-hyphens: auto;
        -ms-hyphens: auto;
            hyphens: auto;
  }

  kbd {
    display: inline-block;
    background-color: $color-background-alt;
    background-color: var(--color-background-alt);
    border-width: 1px;
    border-style: solid;
    border-color: $color-border;
    border-color: var(--color-border);
    border-radius: 3px;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2), 0 0 0 2px #fff inset;
    color: $color-body;
    color: var(--color-body);
    font-family: $font-mono;
    // font-size: 13px;
    // line-height: 1.4;
    margin: 0 0.1em;
    padding: 0.1em 0.6em;
    text-shadow: 0 1px 0 #fff;
  }

  // Highlight
  mark {
    background: $color-background-highlight;
    background: var(--color-background-highlight);
    padding: 0 0.2rem;
  }

  hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible;
    border: 0;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-bottom-color: $color-border;
    border-bottom-color: var(--color-border);
    margin: 3rem 0;
    width: 9rem;
    &.long {
      width: 100%;
      border-width: 1px;
    }
  }
}

// anchor offset for fixed header
:target::before {
  content: "";
  display: block;
  height: $header-anchor-offset; /* fixed header height*/
  margin: -#{$header-anchor-offset} 0 0; /* negative fixed header height */
}
