$offset: 30px;
main {
  // margin-top: $header-height-sm + $offset;
  // @media (min-width: $screen-sm-min) {
  //   margin-top: $header-height-lg + $offset;
  // }
  padding-top: 1rem;
  .page-header {
    margin-bottom: 1.5rem;
    .meta {
      font-size: .9rem;
    }
  }
  p {
    line-height: 1.5rem;
  }
  figure {
    margin: 0 0 1.5rem 0;
  }
}
