// containers
$x-small: 600px;
$small: 800px;
$medium: 900px;
$large: 1200px;

// breakpoints
$mobile: $x-small;
$tablet: $small;
$desktop: $medium;

// gutter
$gutter: 15px;

// fonts
$font-body: 'Source Sans Pro','Microsoft Yahei',sans-serif;
$font-mono: SFMono-Regular,Menlo,Monaco,Consolas,'Liberation Mono','Courier New',monospace;

// magic numbers
$content-margin: 59px;
$header-height-sm: 60px;
$header-height-lg: 180px;

// colors
$color-theme-darker2: #1e2323;
$color-theme-darker: #043E40;
$color-theme-primary: #01677D;
$color-theme-lighter: #6BC4D8;
$color-theme-accent: #A4243B;
$color-theme-tertiary: #fff4ce;
$color-neutral-dark: #5e6e78;
$color-neutral-light: #dedede;
$color-neutral-lighter: #DCDCDC;
$color-white: #FBFBFF;
$color-black: #111; //#040F16; #020912;

// Light
$color-body: $color-black;
$color-heading: $color-black;
$color-background: $color-white;
$color-background-alt: $color-neutral-lighter;
$color-background-highlight: $color-theme-tertiary;
$color-nav-link: $color-theme-primary;
$color-nav-link-hover: lighten($color-theme-primary, 20%);
$color-link: $color-theme-primary;
$color-link-hover: $color-theme-lighter;
$color-link-background-hover: $color-theme-darker;
$color-border: $color-neutral-light;
$color-text-subdued: lighten( $color-black, 20% );
$color-text-warning: $color-theme-accent;
$color-nav-shadow: 0, 0, 0; // .1
$color-nav-border: #9fb9c6ff;
$color-nav-overlay: red($color-background), green($color-background), blue($color-background);
$url-logo: url(/assets/builds/images/logo.svg);
$url-frog: url(/assets/builds/images/frog.png);

// Dark
$color-body-dark: $color-white;
$color-heading-dark: $color-white;
$color-background-dark: $color-black;
$color-background-alt-dark: lighten( $color-black, 5% ); //$color-neutral-lighter;
$color-background-highlight-dark: $color-theme-tertiary;
$color-nav-link-dark: $color-theme-primary;
$color-nav-link-hover-dark: $color-theme-lighter;
$color-link-dark: $color-theme-primary;
$color-link-hover-dark: $color-theme-lighter;
$color-link-background-hover-dark: $color-theme-darker;
$color-border-dark: lighten($color-black, 20%); //$color-neutral-light;
$color-text-subdued-dark: lighten( $color-black, 20% );
$color-text-warning-dark: $color-theme-accent;
$color-nav-shadow-dark: 251, 251, 255;
$color-nav-overlay-dark: red($color-background-dark), green($color-background-dark), blue($color-background-dark);
$color-nav-border-dark: $color-theme-darker;
$url-logo-dark: url(/assets/builds/images/logo-dark.svg);
$url-frog-dark: url(/assets/builds/images/frog-dark.png);
